.dashboard-navigation {
    display: flex;
    flex-direction: column;
    background-color: var(--color-foreground);
    padding: 0 var(--dui-spacing-ultra-large);
    gap: var(--dui-spacing-medium);

    .dashboard-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--dui-spacing-medium) var(--dui-spacing-extra-small);
        gap: var(--dui-spacing-medium);
    }

    .filter-and-export {
        display: flex;
        gap: var(--dui-spacing-small);

        .button {
            border-radius: var(--dui-border-radius-button);
        }
    }

    .dashboard-tablist {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        border: var(--width-separator-thin) solid var(--color-separator);
        border-radius: var(--dui-border-radius-button);
    }

    .tab-name {
        padding: var(--dui-spacing-small) var(--dui-spacing-large);
    }
}