.map-view-wrapper {
    display: flex;

    .map-container {
        flex-basis: 75%;
    }

    .progress-bar-container {
        flex-basis: 25%;
        flex-direction: column;

        .progressRate {
            background-color: var(--color-background);
            padding: var(--dui-spacing-large);
        }

    }
}