.country-main {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-medium);

    .country-tags {
        border: var(--width-separator-thin) solid var(--color-separator-light);
        border-radius: var(--dui-border-radius-card);

        .badge-list {
            padding: var(--dui-spacing-medium);
        }
    }

    .stats {
        display: flex;
        gap: var(--dui-spacing-small);
    }
    .country-detail-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        gap: var(--dui-spacing-medium);

        .info-cards {
            display: flex;
            border: var(--width-separator-thin) solid var(--color-separator-light);
            border-radius: var(--dui-border-radius-card);
            padding: var(--dui-spacing-medium);
            gap: var(--dui-spacing-large);
        }
        .country-trend {
            display: flex;
            flex-grow: 1;
            border: var(--width-separator-thin) solid var(--color-separator-light);
            border-radius: var(--dui-border-radius-card);
            background-color: var(--dui-color-foreground);
        }


    }

    .country-info {
        display: flex;
        flex-shrink: 0;
        gap: var(--dui-spacing-small);

        .country-details {
            display: flex;
            border: var(--width-separator-thin) solid var(--color-separator-light);
            border-radius: var(--dui-border-radius-card);
        }
    }
}
