.country-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-extra-large);

    .country-main {
        display: flex;
        flex-wrap: wrap;
        gap: var(--dui-spacing-extra-large);

        .country-detail-wrapper {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            flex-wrap: wrap;
            gap: var(--dui-spacing-small);

            .status-container {
                border: var(--width-separator-thin) solid var(--color-separator-light);
                border-radius: var(--dui-border-radius-card);

                .info-cards {
                    display: flex;
                    justify-content: space-between;
                    padding: var(--dui-spacing-medium);
                }
            }

            .country-trend {
                border: var(--width-separator-thin) solid var(--color-separator-light);
                border-radius: var(--dui-border-radius-card);
            }
        }

        .country-info {
            flex-basis: 25%;
            flex-shrink: 0;
            border: var(--width-separator-thin) solid var(--color-separator-light);
            border-radius: var(--dui-border-radius-card);
            background-color: var(--dui-color-foreground);
        }


    }

    .perception-wrapper {
        display: flex;
        flex-direction: column;
        padding: var(--dui-spacing-medium);

        .perception-card {
            border: var(--width-separator-thin) solid var(--color-separator-light);
            border-radius: var(--dui-border-radius-card);
            width: 20rem;

            p {
                padding-left: var(--dui-spacing-small);
            }
        }
    }
}